"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    fontSize: 16
  "git-plus": {}