@-moz-document domain("youtube.com") {
#masthead-container.ytd-app {
    top: unset;
    bottom: 0;
}
#page-manager.ytd-app {
    margin-top: unset;
    margin-bottom: var(--ytd-masthead-height, 56px);
}
#skip-navigation, #guide-spacer {
	display: none;
}
ytd-mini-guide-renderer.ytd-app {
	z-index: initial;
	top: 0;
}
ytd-watch-flexy:not([theater]):not([fullscreen]):not([is-two-columns_]) #primary.ytd-watch-flexy {
    padding-top: 0;
}
ytd-watch-flexy[flexy_] {
    --ytd-watch-flexy-space-below-player: 1px;
}
ytd-watch-flexy[flexy_]:not([is-two-columns_]) #player-container-outer.ytd-watch-flexy,
ytd-watch-flexy[flexy_]:not([is-two-columns_]) #primary.ytd-watch-flexy {
    /* */
    margin-left: 0;
    padding-right: 0;
    /* * /
    margin-right: -48px;
    /* */
}
ytd-watch-flexy:not([theater]):not([fullscreen]):not([is-two-columns_]) .html5-video-player .video-stream {
    /* TODO: get actual scrollbar width instead of hardcoding 15px */
    /* width: calc(100vw - 15px) !important; */
    width: 100% !important;
    height: calc(
        (100vw - var(--ytd-watch-flexy-scrollbar-width)) *
        var(--ytd-watch-flexy-height-ratio) /
        var(--ytd-watch-flexy-width-ratio)
    ) !important;
}
ytm-app.sticky-player {
    padding-top: 0 !important;
}
ytm-mobile-topbar-renderer.sticky-player, ytm-header-bar.sticky-player.in, ytm-mobile-topbar-renderer.sticky-player.in {
    top: unset !important;
    bottom: 0 !important;
}

.player-container.sticky-player {
    top: 0 !important;
}
}