#folders::-webkit-scrollbar {
  width: 12px;
  padding-right: -5px; /* width of the entire scrollbar */
}
#folders::-webkit-scrollbar-track {
  background: #44475a; /* color of the tracking area */
}
#folders::-webkit-scrollbar-thumb {
  background-color: #bd93f9; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid #282a36; /* creates padding around scroll thumb */
}

#logo-div {
  box-shadow: 2px 2px 5px #282a36;
}

#folders {
  box-shadow: inset 1px 0px 5px #282a36;
}

#logout-div {
  box-shadow: 2px -2px 5px #282a36;
}

#container {
  display: flex;
  border: 1px solid #bd93f9;
  justify-content: center;
  align-items: center;
  padding-bottom: 5em;
  padding-top: 4em;
}

#forms-and-notes {
  height: 100%;
  width: 95%;
  overflow-y: auto;
}
